$primary: #3F72AF;
$secondary: #DBE2EF;

@import "bootstrap/bootstrap.scss";

footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

body{
    background-color: #F9F7F7;
}

nav, footer{
    background-color: #112D4E;
    box-shadow: 1px 1px 10px black;
}
