// Your variable overrides
$body-bg: rgb(153, 112, 0);
$body-color: rgb(231, 222, 195);

$theme-colors: (
        "primary": #3e8b2e,
        "danger": #ee4c1b
);

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";